
.body-container {
  background-image: url('https://res.cloudinary.com/muni/image/upload/v1726489602/modern-smartphone-with-live-abstract-wallpaper-coming-out-screen_vpdsu3.jpg');
  background-size: cover; 
  height: 100vh; 
}
